@use "../../styles/colors" as colors;

.section {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.sectionHeader {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
  justify-content: flex-start;

  h3 {
    color: colors.$text-body;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }

  .totalAmount {
    display: flex;
    gap: 0.5rem;
    color: colors.$text-secondary;
    font-size: 0.9rem;
  }
  .icon{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
